.homeHeader{
    background-color:  #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

.moviesContainer{
    width: 76%;
    float:left;
    margin:16px;   
}

.filterContainer{
    width: 24%;
    float: right;
    margin:16px;
}